.verticalContainer {
  display: flex;
  flex-direction: column;
  flex: 0 1 5%;

  .strengthText {
    display: flex;
    margin: 0;
  }

  .horizontalContainer {
    display: flex;
    flex: 1;
    .empty {
      background-color: unset;
    }
    .zero {
      flex: 0 1 20%;
      background-color: red;
    }
    .one {
      flex: 0 1 20%;
      display: flex;
      background-color: orange;
    }
    .two {
      display: flex;
      flex: 0 1 20%;
      display: flex;
      background-color: yellow;
    }
    .three {
      display: flex;
      flex: 0 1 20%;
      background-color: green;
    }
    .four {
      display: flex;
      flex: 0 1 20%;
      background-color: green;
    }
  }
}
